<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs')  %> 
    <body>
        <h1>BUDGTR ALL</h1>
        <% for (expense of Budget) {%>
            <% account += Number(expense.amount) %>
        <% } %> 
        <div id="account">Bank Account: <%= account %></div>
        <script>
            console.log(account)
            if (account < 0){
                const bankAccount = document.getElementById('account')
                bankAccount.style.color = 'red';
                console.log('Low!')
            }
        </script> 
        <div class = "container" >
            <table>
                <tr>
                    <th>Date</th>
                    <th>Name</th>
                    <th>From</th>
                    <th>Amount</th>
                    <th>Tags</th>
                </tr>
                <% for (let i = 0; i < Budget.length; i++) { %>
                    <tr>
                        <td><%= Budget[i].date %></td>
                        <td><a href = "/budgets/<%=i%>"><%= Budget[i].name %></a></td>
                        <td><%= Budget[i].from %></td>
                        <td><%= Budget[i].amount %></td>
                        <td><%= Budget[i].tags %></td>
                    </tr>
                <% } %> 
            </table>
        </div>
        <a href ="/budgets/new"><button>new</button></a>       
    </body>
</html>
