<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs')  %> 
    <body>
        <h1>BUDGTR ALL</h1>
        <% let total = 0 %> 
        <% for (expense of Budget) {%>
            <% total += Number(expense.amount) %>
        <% } %> 
        <div id="account">Bank Account: <%= total %></div>
        <!-- ADDING THE COLOR CHANGING FUNCTION -->
        <script>
        const bankAccount = document.getElementById('account')
        console.log(bankAccount.style)
            if (<%= total %> < 0){
                bankAccount.style.backgroundColor = 'red';
            }else if (<%=total%> > 1000){
                bankAccount.style.backgroundColor = 'green'
            }
        </script> 
        <div class = "container" >
            <table>
                <tr>
                    <th>Date</th>
                    <th>Name</th>
                    <th>From</th>
                    <th>Amount</th>
                    <th>Tags</th>
                </tr>
                <% for (let i = 0; i < Budget.length; i++) { %>
                    <tr>
                        <td><%= Budget[i].date %></td>
                        <td><a href = "/budgets/<%=i%>"><%= Budget[i].name %></a></td>
                        <td><%= Budget[i].from %></td>
                        <td><%= Budget[i].amount %></td>
                        <td><%= Budget[i].tags %></td>
                    </tr>
                <% } %> 
            </table>
        </div>
        <a href ="/budgets/new"><button>new</button></a>       
    </body>
</html>
